.gitignore

Adversarial\ Search/

Constraint\ Satisfaction/Makefile
Constraint\ Satisfaction/a.out
Constraint\ Satisfaction/.vscode/

Informed\ Search/*.class

Local\ Search/a.out
Local\ Search/Makefile
Local\ Search/.vscode/